<h1> Welcome to the Study </h1>
<p> This is a list of the games that you should perform...continue description</p>


<%= @research.description%>

</br>
<button><%= link_to 'Start', risk_balloon_game_path(@game_id) %></button>
