<h1> Results Page </h1>
</br>

<h2 id="total_earnings">You Earned: $<%= @total_earnings %></h2>
<button><%= link_to 'Complete Session', research_session_path(session[:research_id]), method: :delete %></button>
