<!-- <h1> Welcome Home! </h1> -->
<div class="jumbotron">
	<h1>Thanks for playing!</h1>
	<p>Thank you for participating in our study. You can collect your cash and be on your way. We hope you enjoyed playing!</p>
	<META http-equiv="refresh" content="7;URL=home">
</div>